<%= form_with(model: piano, local: true) do |form| %>
  <% if piano.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(piano.errors.count, "error") %> prohibited this piano from being saved:</h2>

      <ul>
      <% piano.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tipo_id %>
    <%= form.select :tipo_id, Tipo.all.collect { |m| [m.nome, m.id] } %>
  </div>

  <div class="field">
    <%= form.label :Cor %>
    <%= form.select :color_id, Color.all.collect { |m| [m.nome, m.id] } %>
  </div>

  <div class="field">
    <%= form.label :pedal_id %>
    <%= form.select :pedal_id, Pedal.all.collect { |m| [m.nome, m.id] } %>
  </div>

  <div class="actions">
    <%= form.submit :"Fazer Pedido" %>
  </div>
<% end %>
