<p id="notice"><%= notice %></p>

<h1>Pianos</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Cor</th>
      <th>Pedal</th>
      <th>Preço total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pianos.each do |piano| %>
      <tr>
        <td><%= piano.tipo.nome %></td>
        <td><%= piano.color.nome %></td>
        <td><%= piano.pedal.nome %></td>
        <td><%= piano.preco_total %></td>
        <td><%= link_to 'Visualizar', piano %></td>
        <td><%= link_to 'Editar', edit_piano_path(piano) %></td>
        <td><%= link_to 'Cancelar Pedido', piano, method: :delete, data: { confirm: 'Tem certeza que deseja cancelar o pedido?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Fazer Pedido', new_piano_path %>
<br>

<%= link_to 'Voltar', root_path %>