<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @piano.tipo.nome %>
</p>

<p>
  <strong>Color:</strong>
  <%= @piano.color.nome %>
</p>

<p>
  <strong>Pedal:</strong>
  <%= @piano.pedal.nome %>
</p>

<p>
  <strong>Preco total:</strong>
  <%= @piano.preco_total %>
</p>

<%= link_to 'Editar', edit_piano_path(@piano) %> |
<%= link_to 'Voltar', pianos_path %>
