<%= form_with(model: contrabass, local: true) do |form| %>
  <% if contrabass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contrabass.errors.count, "error") %> prohibited this contrabass from being saved:</h2>

      <ul>
      <% contrabass.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :modelo_id %>
    <%= form.select :modelo_id, Modelo.where("instrumento": "Contra-Baixo").collect { |m| [m.nome, m.id] } %>
  </div>

  <div class="field">
    <%= form.label :Quantidade_de_casas %>
    <%= form.select :braco_id, Braco.all.collect { |m| [m.qtde, m.id] } %>
  </div>

  <div class="field">
    <%= form.label :tarraxa_id %>
    <%= form.select :tarraxa_id, Tarraxa.all.collect { |m| [m.nome, m.id] } %>
  </div>

  <div class="field">
    <%= form.label :Quantidade_de_Cordas %>
    <%= form.select :corda_id, Corda.where("instrumento": "Contra-Baixo").collect { |m| [m.qtde, m.id] } %>
  </div>

  <div class="field">
    <%= form.label :Tipo_de_Captação %>
    <%= form.select :captation_id, Captation.all.collect { |m| [m.nome, m.id] } %>
  </div>

  <div class="actions">
    <%= form.submit :"Fazer Pedido" %>
  </div>
<% end %>
