<p id="notice"><%= notice %></p>

<h1>Contra-Baixos</h1>

<table>
  <thead>
    <tr>
      <th>Modelo</th>
      <th>Braço</th>
      <th>Tarraxa</th>
      <th>Corda</th>
      <th>Captação</th>
      <th>Preço total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contrabasses.each do |contrabass| %>
      <tr>
        <td><%= contrabass.modelo.nome %></td>
        <td><%= contrabass.braco.qtde %></td>
        <td><%= contrabass.tarraxa.nome %></td>
        <td><%= contrabass.corda.qtde %></td>
        <td><%= contrabass.captation.nome %></td>
        <td><%= contrabass.preco_total %></td>
        <td><%= link_to 'Visualizar', contrabass %></td>
        <td><%= link_to 'Editar', edit_contrabass_path(contrabass) %></td>
        <td><%= link_to 'Cancelar Pedido', contrabass, method: :delete, data: { confirm: 'Tem certeza que deseja cancelar o pedido?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Fazer Pedido', new_contrabass_path %>
<br>
<%= link_to 'Voltar', root_path %>
