<p id="notice"><%= notice %></p>

<p>
  <strong>Modelo:</strong>
  <%= @contrabass.modelo.nome %>
</p>

<p>
  <strong>Braco:</strong>
  <%= @contrabass.braco.qtde %>
</p>

<p>
  <strong>Tarraxa:</strong>
  <%= @contrabass.tarraxa.nome %>
</p>

<p>
  <strong>Corda:</strong>
  <%= @contrabass.corda.qtde %>
</p>

<p>
  <strong>Captation:</strong>
  <%= @contrabass.captation.nome %>
</p>

<p>
  <strong>Preco total:</strong>
  <%= @contrabass.preco_total %>
</p>

<%= link_to 'Editar', edit_contrabass_path(@contrabass) %> |
<%= link_to 'Voltar', contrabasses_path %>
