<%= form_with(model: guitar, local: true) do |form| %>
  <% if guitar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(guitar.errors.count, "error") %> prohibited this guitar from being saved:</h2>

      <ul>
      <% guitar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :modelo_id %>
    <%= form.select :modelo_id, Modelo.where("instrumento": "Violao").collect { |m| [m.nome, m.id] } %>
  </div>

  <div class="field">
    <%= form.label :Braço %>
    <%= form.select :braco_id, Braco.all.collect { |m| [m.qtde, m.id] } %>
  </div>

  <div class="field">
    <%= form.label :tarraxa_id %>
    <%= form.select :tarraxa_id, Tarraxa.all.collect { |m| [m.nome, m.id] } %>
  </div>

  <div class="field">
    <%= form.label :Quantidade_de_cordas %>
    <%= form.select :corda_id, Corda.where("instrumento": "Violao").collect { |m| [m.qtde, m.id] } %>
  </div>

  <div class="actions">
    <%= form.submit :"Fazer Pedido"%>
  </div>
<% end %>
