<p id="notice"><%= notice %></p>

<h1>Violões</h1>

<table>
  <thead>
    <tr>
      <th>Modelo</th>
      <th>Braço</th>
      <th>Tarraxa</th>
      <th>Quantidade de Cordas</th>
      <th>Preço total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guitars.each do |guitar| %>
      <tr>
        <td><%= guitar.modelo.nome %></td>
        <td><%= guitar.braco.qtde %></td>
        <td><%= guitar.tarraxa.nome %></td>
        <td><%= guitar.corda.qtde %></td>
        <td><%= guitar.preco_total %></td>
        <td><%= link_to 'Visualizar', guitar %></td>
        <td><%= link_to 'Editar', edit_guitar_path(guitar) %></td>
        <td><%= link_to 'Cancelar Pedido', guitar, method: :delete, data: { confirm: 'Tem certeza que deseja cancelar o Pedido?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Fazer Pedido', new_guitar_path %>
<br>

<%= link_to 'Voltar', root_path %>

