<p id="notice"><%= notice %></p>

<p>
  <strong>Modelo:</strong>
  <%= @guitar.modelo.nome %>
</p>

<p>
  <strong>Braco:</strong>
  <%= @guitar.braco.qtde %>
</p>

<p>
  <strong>Tarraxa:</strong>
  <%= @guitar.tarraxa.nome %>
</p>

<p>
  <strong>Corda:</strong>
  <%= @guitar.corda.qtde %>
</p>

<p>
  <strong>Preco total:</strong>
  <%= @guitar.preco_total %>
</p>

<%= link_to 'Editar', edit_guitar_path(@guitar) %> |
<%= link_to 'Voltar', guitars_path %>
