<%= form_with(model: tarraxa, local: true) do |form| %>
  <% if tarraxa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tarraxa.errors.count, "error") %> prohibited this tarraxa from being saved:</h2>

      <ul>
      <% tarraxa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :instrumento %>
    <%= form.text_field :instrumento %>
  </div>

  <div class="field">
    <%= form.label :Preço %>
    <%= form.text_field :preco %>
  </div>

  <div class="actions">
    <%= form.submit :Cadastrar %>
  </div>
<% end %>
