<p id="notice"><%= notice %></p>

<h1>Tarraxas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Instrumento</th>
      <th>Preco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tarraxas.each do |tarraxa| %>
      <tr>
        <td><%= tarraxa.nome %></td>
        <td><%= tarraxa.instrumento %></td>
        <td><%= tarraxa.preco %></td>
        <%if admin_signed_in?%>
          <td><%= link_to 'Vizualizar', tarraxa %></td>
          <td><%= link_to 'Editar', edit_tarraxa_path(tarraxa) %></td>
          <td><%= link_to 'Descadastrar', tarraxa, method: :delete, data: { confirm: 'Tem cereza que deseja descadastar?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if admin_signed_in?%>
<%= link_to 'Cadastrar Tarraxa', new_tarraxa_path %>
<%end%>
<br>
<%= link_to 'Voltar', root_path %>
