<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @tarraxa.nome %>
</p>

<p>
  <strong>Instrumento:</strong>
  <%= @tarraxa.instrumento %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @tarraxa.preco %>
</p>

<%= link_to 'Editar', edit_tarraxa_path(@tarraxa) %> |
<%= link_to 'Voltar', tarraxas_path %>
