<p id="notice"><%= notice %></p>

<h1>Pedais de Piano</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Preco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pedals.each do |pedal| %>
      <tr>
        <td><%= pedal.nome %></td>
        <td><%= pedal.preco %></td>
        <%if admin_signed_in?%>
          <td><%= link_to 'visualizar', pedal %></td>
          <td><%= link_to 'Editar', edit_pedal_path(pedal) %></td>
          <td><%= link_to 'Descadastrar', pedal, method: :delete, data: { confirm: 'tem certeza que deseja descadastrar?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if admin_signed_in?%>
<%= link_to 'Cadastrar Pedal', new_pedal_path %>
<%end%>

<%= link_to 'Voltar', root_path %>
