<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @pedal.nome %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @pedal.preco %>
</p>

<%= link_to 'Editar', edit_pedal_path(@pedal) %> |
<%= link_to 'Voltar', pedals_path %>
