<p id="notice"><%= notice %></p>

<h1>Tipos de Piano</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Preço</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipos.each do |tipo| %>
      <tr>
        <td><%= tipo.nome %></td>
        <td><%= tipo.preco %></td>
        <td><%= link_to 'Visualizar', tipo %></td>
        <td><%= link_to 'Editar', edit_tipo_path(tipo) %></td>
        <td><%= link_to 'Descadastrar', tipo, method: :delete, data: { confirm: 'Tem certeza que deseja descastar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if admin_signed_in?%>
  <%= link_to 'Castrar Tipo de Piano', new_tipo_path %>
<%end%>
<%= link_to 'Voltar', root_path %>
