<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @tipo.nome %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @tipo.preco %>
</p>

<%= link_to 'Editar', edit_tipo_path(@tipo) %> |
<%= link_to 'Voltar', tipos_path %>
