<h1>LuthEasy</h1>
<h2>Seu Luthier Web!!!</h2>

<%if user_signed_in?%>
    <ul>
        <li><%= current_user.email%></li>
        <li><%= link_to "Sair", destroy_user_session_path, method: :delete%></li>
    </ul>
<%else %>
    <ul>
        <li> <%= link_to "Cadastre-se aqui", new_user_registration_path%></li>
        <li><%= link_to "Logar", new_user_session_path%></li>
    </ul>
<%end%>

<%if admin_signed_in?%>
    <ul>
        <li><%= current_admin.email%></li>
        <li><%= link_to "Lista de Intrumentos", requests_path%></li>
        <li><%= link_to "Sair", destroy_admin_session_path, method: :delete%></li>
    </ul>
<%else %>
    <ul>
        <p>Administrador?</p>
        <li> <%= link_to "Cadastre-se aqui como Admin", new_admin_registration_path%></li>
        <li><%= link_to "Logar", new_admin_session_path%></li>
    </ul>
<%end%>

<h3>Instrumentos disponiveis para fabricacao</h3>
<ul>
    <li> <%= link_to "Violao", guitars_path%></li>
    <li><%= link_to "Guitarra", electric_guitars_path%></li>
    <li><%= link_to "Contra-Baixo", contrabasses_path%></li>
    <li><%= link_to "Piano", pianos_path%></li>
</ul>

<h3>Catálogos</h3>
<ul>
    <li><%= link_to "Modelos", modelos_path %></li>
    <li><%= link_to "Tarraxas", tarraxas_path %></li>
    <li><%= link_to "Materiais - Guitarra", materials_path %></li>
    <li><%= link_to "Tipos - Piano", tipos_path %></li>
    <li><%= link_to "Cores - Piano", colors_path %></li>
    <li><%= link_to "Pedal - Piano", pedals_path %></li>
    <li><%= link_to "Braços- Instrumentos de Corda", bracos_path %></li>
     <li><%= link_to "Tipos de Captacao", captations_path %></li>
</ul>