<%= form_with(model: corda, local: true) do |form| %>
  <% if corda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(corda.errors.count, "error") %> prohibited this corda from being saved:</h2>

      <ul>
      <% corda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :qtde %>
    <%= form.number_field :qtde %>
  </div>

  <div class="field">
    <%= form.label :instrumento %>
    <%= form.text_field :instrumento %>
  </div>

  <div class="field">
    <%= form.label :preco %>
    <%= form.text_field :preco %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
