<p id="notice"><%= notice %></p>

<h1>Cordas</h1>

<table>
  <thead>
    <tr>
      <th>Qtde</th>
      <th>Instrumento</th>
      <th>Preco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cordas.each do |corda| %>
      <tr>
        <td><%= corda.qtde %></td>
        <td><%= corda.instrumento %></td>
        <td><%= corda.preco %></td>
        <%if admin_signed_in?%>
        <td><%= link_to 'Show', corda %></td>
        <td><%= link_to 'Edit', edit_corda_path(corda) %></td>
        <td><%= link_to 'Destroy', corda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if admin_signed_in?%>
<%= link_to 'Cadastrar Corda', new_corda_path %>
<%end%>
