<p id="notice"><%= notice %></p>

<p>
  <strong>Qtde:</strong>
  <%= @corda.qtde %>
</p>

<p>
  <strong>Instrumento:</strong>
  <%= @corda.instrumento %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @corda.preco %>
</p>

<%= link_to 'Edit', edit_corda_path(@corda) %> |
<%= link_to 'Back', cordas_path %>
