<%= form_with(model: request, local: true) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :guitar_id %>
    <%= form.text_field :guitar_id %>
  </div>

  <div class="field">
    <%= form.label :electric_guitar_id %>
    <%= form.text_field :electric_guitar_id %>
  </div>

  <div class="field">
    <%= form.label :contrabass_id %>
    <%= form.text_field :contrabass_id %>
  </div>

  <div class="field">
    <%= form.label :piano_id %>
    <%= form.text_field :piano_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
