<p id="notice"><%= notice %></p>

<p>
  <strong>Guitar:</strong>
  <%= @request.guitar %>
</p>

<p>
  <strong>Electric guitar:</strong>
  <%= @request.electric_guitar %>
</p>

<p>
  <strong>Contrabass:</strong>
  <%= @request.contrabass %>
</p>

<p>
  <strong>Piano:</strong>
  <%= @request.piano %>
</p>

<p>
  <strong>User:</strong>
  <%= @request.user %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
