<%= form_with(model: braco, local: true) do |form| %>
  <% if braco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(braco.errors.count, "error") %> prohibited this braco from being saved:</h2>

      <ul>
      <% braco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Quantidade_de_casas %>
    <%= form.number_field :qtde %>
  </div>

  <div class="field">
    <%= form.label :Preço %>
    <%= form.text_field :preco %>
  </div>

  <div class="actions">
    <%= form.submit :"Cadastrar Braço"%>
  </div>
<% end %>
