<p id="notice"><%= notice %></p>

<h1>Modelos de Braços </h1>

<table>
  <thead>
    <tr>
      <th>Quantidade de Casas</th>
      <th>Preço</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bracos.each do |braco| %>
      <tr>
        <td><%= braco.qtde %></td>
        <td><%= braco.preco %></td>
        <%if admin_signed_in?%>
        <td><%= link_to 'Mostrar', braco %></td>
        <td><%= link_to 'Editar', edit_braco_path(braco) %></td>
        <td><%= link_to 'Descadastrar', braco, method: :delete, data: { confirm: 'Tem certeza que deseja descadastrar?' } %></td>
      <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if admin_signed_in?%>
<%= link_to 'Cadastrar Braço ', new_braco_path %>
<%end%>
<br>
<%= link_to 'Voltar', root_path %>
