<p id="notice"><%= notice %></p>

<p>
  <strong>Qtde:</strong>
  <%= @braco.qtde %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @braco.preco %>
</p>

<%= link_to 'Editar', edit_braco_path(@braco) %> |
<%= link_to 'Voltar', bracos_path %>
