<p id="notice"><%= notice %></p>

<h1>Modelos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Instrumento</th>
      <th>Preco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @modelos.each do |modelo| %>
      <tr>
        <td><%= modelo.nome %></td>
        <td><%= modelo.instrumento %></td>
        <td><%= modelo.preco %></td>
        <%if admin_signed_in?%>
          <td><%= link_to 'Visualizar', modelo %></td>
          <td><%= link_to 'Editar', edit_modelo_path(modelo) %></td>
          <td><%= link_to 'Descadastrar', modelo, method: :delete, data: { confirm: 'Tem certeza que deseja descadastrar?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if admin_signed_in?%>
  <%= link_to 'Cadastrar Modelo', new_modelo_path %>
<%end%>
<br>
<%= link_to 'Voltar', root_path %>
