<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @modelo.nome %>
</p>

<p>
  <strong>Instrumento:</strong>
  <%= @modelo.instrumento %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @modelo.preco %>
</p>

<%= link_to 'Editar', edit_modelo_path(@modelo) %> |
<%= link_to 'Voltar', modelos_path %>
