<%= form_with(model: color, local: true) do |form| %>
  <% if color.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(color.errors.count, "error") %> prohibited this color from being saved:</h2>

      <ul>
      <% color.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nome_da_Cor %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :Preço %>
    <%= form.text_field :preco %>
  </div>

  <div class="actions">
    <%= form.submit :"Cadastrar Cor" %>
  </div>
<% end %>
