<p id="notice"><%= notice %></p>

<h1>Cores de Piano</h1>

<table>
  <thead>
    <tr>
      <th>Cores</th>
      <th>Preço</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @colors.each do |color| %>
      <tr>
        <td><%= color.nome %></td>
        <td><%= color.preco %></td>
        <td><%= link_to 'Visualizar', color %></td>
        <td><%= link_to 'Editar', edit_color_path(color) %></td>
        <td><%= link_to 'Descadastrar', color, method: :delete, data: { confirm: 'Tem certeza que deseja descadastar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%if admin_signed_in?%>
<%= link_to 'Cadastrar nova cor', new_color_path %>  
<%end%>
<br>
<%= link_to 'Voltar', root_path %>