<p id="notice"><%= notice %></p>

<p>
  <strong>Cor:</strong>
  <%= @color.nome %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @color.preco %>
</p>

<%= link_to 'Editar', edit_color_path(@color) %> |
<%= link_to 'Voltar', colors_path %>
