<%= form_with(model: captation, local: true) do |form| %>
  <% if captation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(captation.errors.count, "error") %> prohibited this captation from being saved:</h2>

      <ul>
      <% captation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :preco %>
    <%= form.text_field :preco %>
  </div>

  <div class="actions">
    <%= form.submit :Cadastrar %>
  </div>
<% end %>
