<p id="notice"><%= notice %></p>

<h1>Captações</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Preço</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @captations.each do |captation| %>
      <tr>
        <td><%= captation.nome %></td>
        <td><%= captation.preco %></td>
        <%if admin_signed_in?%>
          <td><%= link_to 'Vizualizar', captation %></td>
          <td><%= link_to 'Editar', edit_captation_path(captation) %></td>
          <td><%= link_to 'Descadastrar', captation, method: :delete, data: { confirm: 'Tem certeza que deseja descadastrar?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if admin_signed_in?%>
<%= link_to 'Cadastrar Captação', new_captation_path %>
<%end%>
<br>
<%= link_to 'Voltar', root_path %>
