<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @captation.nome %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @captation.preco %>
</p>

<%= link_to 'Editar', edit_captation_path(@captation) %> |
<%= link_to 'Voltar', captations_path %>
