<%= form_with(model: electric_guitar, local: true) do |form| %>
  <% if electric_guitar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(electric_guitar.errors.count, "error") %> prohibited this electric_guitar from being saved:</h2>

      <ul>
      <% electric_guitar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :modelo_id %>
    <%= form.select :modelo_id, Modelo.where("instrumento": "Guitarra").collect { |m| [m.nome, m.id] } %>
  </div>

  <div class="field">
    <%= form.label :Quantidade_de_Casas %>
    <%= form.select :braco_id, Braco.all.collect { |m| [m.qtde, m.id] } %>
  </div>

  <div class="field">
    <%= form.label :tarraxa_id %>
    <%= form.select :tarraxa_id, Tarraxa.all.collect { |m| [m.nome, m.id] } %>
  </div>

  <div class="field">
    <%= form.label :Quantidade_de_Cordas %>
    <%= form.select :corda_id, Corda.where("instrumento": "Guitarra").collect { |m| [m.qtde, m.id] } %>
  </div>

  <div class="field">
    <%= form.label :material_id %>
    <%= form.select :material_id, Material.all.collect { |m| [m.nome, m.id] } %>
  </div>

  <div class="actions">
    <%= form.submit :"Fazer Pedido" %>
  </div>
<% end %>
