<p id="notice"><%= notice %></p>

<h1>Guitarras</h1>

<table>
  <thead>
    <tr>
      <th>Modelo</th>
      <th>Braço</th>
      <th>Tarraxa</th>
      <th>Quantidade de Corda</th>
      <th>Material</th>
      <th>Preço total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @electric_guitars.each do |electric_guitar| %>
      <tr>
        <td><%= electric_guitar.modelo.nome %></td>
        <td><%= electric_guitar.braco.qtde %></td>
        <td><%= electric_guitar.tarraxa.nome %></td>
        <td><%= electric_guitar.corda.qtde %></td>
        <td><%= electric_guitar.material.nome %></td>
        <td><%= electric_guitar.preco_total %></td>
        <td><%= link_to 'Vizualizar', electric_guitar %></td>
        <td><%= link_to 'Editar', edit_electric_guitar_path(electric_guitar) %></td>
        <td><%= link_to 'Cancelar Pedido', electric_guitar, method: :delete, data: { confirm: 'Tem certeza que deseja cancelar o pedido?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Fazer Pedido', new_electric_guitar_path %>
<br>
<%= link_to 'Voltar', root_path %>

