<p id="notice"><%= notice %></p>

<p>
  <strong>Modelo:</strong>
  <%= @electric_guitar.modelo.nome %>
</p>

<p>
  <strong>Braco:</strong>
  <%= @electric_guitar.braco.qtde %>
</p>

<p>
  <strong>Tarraxa:</strong>
  <%= @electric_guitar.tarraxa.nome %>
</p>

<p>
  <strong>Corda:</strong>
  <%= @electric_guitar.corda.qtde %>
</p>

<p>
  <strong>Material:</strong>
  <%= @electric_guitar.material.nome %>
</p>

<p>
  <strong>Preco total:</strong>
  <%= @electric_guitar.preco_total %>
</p>

<%= link_to 'Editar', edit_electric_guitar_path(@electric_guitar) %> |
<%= link_to 'Voltar', electric_guitars_path %>
