<p id="notice"><%= notice %></p>

<h1>Materiais de Guitarra</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Preço</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <td><%= material.nome %></td>
        <td><%= material.preco %></td>
        <%if admin_signed_in?%>
          <td><%= link_to 'Vizualizar', material %></td>
          <td><%= link_to 'Editar', edit_material_path(material) %></td>
          <td><%= link_to 'Descadastar', material, method: :delete, data: { confirm: 'Tem certeza que deseja descadastrar?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if admin_signed_in?%>
<%= link_to 'Cadastrar Material', new_material_path %>
<%end%>

<%= link_to 'Voltar', root_path %>